@import "mixin";
// @import "variables";
@import "header";
@import "spacing";
@import "modal";


html {
    background-color: $background-color;
    color: $main-color;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    + body {
        max-width: 100%;
        overflow-x: hidden;
    }
}

body {
    margin: 0;
}



@include headings {
    color: $main-color;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.transition-scroll {
    transition: $fast-transition;
}

a {
    text-decoration: none;
    color: $main-color;
}

li {
    list-style: none;
}

.italic{
    font-style: italic;
}

button{
    color: $grey-color;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.6rem 1.5rem;
    border: none;
    border-radius: 3px;
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    *{
        align-self: center;
        margin: 0 0.2rem;
    }
    &:hover{
        background-color: rgba($color: $main-color, $alpha: 0.4);
        cursor: pointer;
    }
}


.bloc-page {
    // padding: 20px;
}

#best-movie {
    background-image: url("https://via.placeholder.com/1903x800");
    min-height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    h1{
        font-size: 3rem;
        margin-bottom: 0;
    }
    p + h1{
        text-shadow: 1px 1px 4px $background-color;
    }
}
#best-movie-director{
    color: $lightgrey-color;
}

.clipped{
    height: 18.29px;
    object-fit: cover; 
    object-position: 0% 0;
}
.clipzone{
    margin-right: 1rem;
}
.clipzone:hover + .hide{
    transition: $fast-transition;
    visibility: visible
}

.hide{
    transition: $average-transition;
    visibility: hidden;
}

.show{
    transition: $average-transition;
    visibility: visible;
}

.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.col-6{
    grid-column: 2/7;
    grid-row: 1;
    display: flex;
    * {
        align-self: center;
      }
}



.container{
    padding: 50px;
    line-height: 1.4;
    position: relative;
    top: -170px;
}


.title{
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
}

.item{
    margin: 10px 10px 40px 10px;
    box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a ;
    transition: transform $fast-transition;
    transform: translate3d(0, -1px, 0);
    &:hover{
        transform: translate3d(0, -10px, 0);
    }
    
    img{
        border-radius: 10px;
        display: block;
        width: 100%;
        height: auto;
    }
}


.item_body{
    padding: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba($color: $background-color, $alpha: 1),
    rgba($color: $background-color, $alpha: 0.7) 85%,
    rgba($color: $background-color, $alpha: 0));
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $fast-transition;
    h3{
        font-size: 1.5rem;
    }
}

.items{
    position: relative;
}

.carousel {
    position: relative;
    // overflow: hidden;
}

.carousel_container::after {
    content: '';
    clear: both;
    display: table;
}

.carousel_item{
    cursor: pointer;
    float: left;
}

.carousel_prev, .carousel_next{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff url(../img/right.svg) center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: -20px;
    box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a ;
    cursor: pointer;
    transition: transform $fast-transition, opacity $fast-transition;
}

.carousel_prev {
    background-image: url(../img/left.svg);
    right: auto;
    left: -20px;
}

.carousel_prev:hover, .carousel_next:hover{
    transform: scale(1.2);
}

.carousel_next-hidden, .carousel_prev-hidden{
    opacity: 0;
}