@import "mixin";
@import "variables";
@import "header";
@import "spacing";
@import "modal";


html {
    background-color: $background-color;
    color: $main-color;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

body {
    margin: 0;
}

@include headings {
    color: $main-color;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.transition-scroll {
    transition: $fast-transition;
}

a {
    text-decoration: none;
    color: $main-color;
}

li {
    list-style: none;
}

.italic{
    font-style: italic;
}

button{
    color: $grey-color;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.6rem 1.5rem;
    border: none;
    border-radius: 3px;
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    *{
        align-self: center;
        margin: 0 0.2rem;
    }
    &:hover{
        background-color: rgba($color: $main-color, $alpha: 0.4);
    }
}


.bloc-page {
    // padding: 20px;
}

#best-movie {
    background-image: url("https://via.placeholder.com/1903x800");
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    h1{
        font-size: 3rem;
        margin-bottom: 0;
    }
    p + h1{
        text-shadow: 1px 1px 4px $background-color;
    }
}
#best-movie-director{
    color: $lightgrey-color;
}

.clipped{
    height: 18.29px;
    object-fit: cover; 
    object-position: 0% 0;
}
.clipzone{
    margin-right: 1rem;
}
.clipzone:hover + .hide{
    transition: $fast-transition;
    visibility: visible
}

.hide{
    transition: $average-transition;
    visibility: hidden;
}

.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.col-6{
    grid-column: 2/7;
    grid-row: 1;
    display: flex;
    * {
        align-self: center;
      }
}