.my-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.my-2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.my-3{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.my-4{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.my-5{
    margin-top: 5rem;
    margin-bottom: 5rem;
}