$main-color: #ffffff;
$secondary-color: #b90000;
$background-color: black;
$grey-color: #292929;
$lightgrey-color: #d4d4d4;

$fast-transition: 0.3s;
$average-transition: 0.8s;
$slow-transition: 2.5s;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;